body{
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    margin-top: 100px;
    font-size: 40px;
}

.display-flex{
    font-size: 16px;
}

.ph1{
    font-size: 20px;
    line-height: 30px;
}

.ph2{
    font-size: 16px;
}

.ph3{
    font-size: 16px;
}

.fondo-azul{
    background-color: #006dc7;
}

.boton1{
    width: 180px;
    height: 60px;
    background-color: white;
    color: #2ea3f2;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 19px;
    border: none;
}

.boton2{
    margin-left: 120px;
    width: 380px;
    height: 40px;
    background-color: rgb(100, 192, 228);
    color: white;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

.boton3{
    width: 120px;
    height: 60px;
    background-color: rgb(100, 192, 228);
    color: white;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

.boton3-1{
    margin-top: 50px;
    width: 120px;
    height: 60px;
    background-color: rgb(100, 192, 228);
    color: white;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}
    
.boton4{
    width: 120px;
    height: 60px;
    background-color: rgb(100, 192, 228);
    color: white;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    margin-top: 30px;
}

.ref{
    font-size: 16px;
    font-family: 'Nunito';
    font-weight: 200;
}

.white{
    transition-duration: 2s;
    animation-duration:5s ;
    animation-iteration-count: infinite;
    animation-name: cambia ;
    font-size: 20px;
    margin-left: -35px;
    width: 160px;
    color: white;
    background: white;
}


.sub-2{
    display: block;
    visibility: hidden;
    opacity: 0 ;
    min-width: 100px;
    position: absolute;
    transition: all 0.5s eaeo;
    margin-top: 16px;
    left: 0;
    display: none;

}
.menu li:hover > .sub-2,
.menu li .sub-2:hover{
    visibility: visible;
    opacity: 1;
    display: block;
}


.sub-2 li:hover{
    background-color:rgb(182, 181, 181);
}

.boton1:hover {
    background-color: red;
    color: white;
    border: 2px solid rgb(100, 192, 228);
}

.boton1{
    transition: 1s;
}

.boton2:hover {
    background-color: red;
    border: 2px solid rgb(100, 192, 228);
}

.boton2{
    transition: 1s;
}

.boton3:hover {
    background-color: red;
    border: 2px solid rgb(100, 192, 228);
}

.boton3{
    transition: 1s;
}

.boton3-1:hover {
    background-color: red;
    border: 2px solid rgb(100, 192, 228);
}

.boton3-1{
    margin-top: 50px;
    transition: 1s;
}

.boton4:hover {
    background-color: red;
    border: 2px solid rgb(100, 192, 228);

}

.boton4{
    transition: 1s;
}

/* Imagenes */

.graph{
    display: flex;
    width:300px;
}

.bnr1{
    margin-left: 80px;
    width:200px; 
    height:40px;
}

.home{
    margin-top: 40px;
    width: 544px;
}

body{
    min-height: 100vh;
    background-color: #ececec;
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu li ul::after{ 
    content: "";
    display: block;
    padding: 6px;
    text-decoration: none;
    transition-duration: 5ms;
}

.sub-mn-1{
    width: 100%;
    background-color: #006dc7;
    position: fixed;
    padding:20px;
}

.get{
    color: white;
    text-align: center;
}

.menu a {
    
    color:white;
    padding: 6px;
    transition: 0.5s;
}

.menu a:hover{
    color: #50a2e6;
    border:  rgb(100, 192, 228);
}

.sub-2 a{
    color: #50a2e6;
}

.hhhh{
    padding: 20px 0px 20px 0px;
}

.pppp{
    padding: 20px 0px 20px 0px;
    line-height: 20px;
}

.bbbb{
    padding: 20px 0px 60px 0px;
}

.ph10{
    display: flex;
    justify-content: space-between;
    padding: 80px 0px 20px 0px;
}
.hhh{
    padding: 20px 0px 20px 100px;
    margin-left: 42px;
}

.ppp{
    text-align: center;
    margin-left: 40px;
    line-height: 20px;
}

.ph11{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 80px 0px;
}

.pp{
    padding: 10px 0;
    line-height: 20px;
}

.hh2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.hhh2{
    margin-bottom: 5px;
}

.hhhh2{
    margin-bottom: 40px;
}

.ph2{
    line-height: 30px;
}

.ph3{
    align-items: center;
    line-height: 30px;
}

.ph12{
    padding: 0px 0px 20px 0px;
}

.h5{
    text-align: center;
    padding: 20px ;
}

.ppppp{
    text-align: center;
    padding: 20px 0;
    line-height: 20px;
}

.hh3{
    text-align: center;
    padding: 10px 0;
}

.poseidon::after{
    display: block;
    border-bottom: 1px solid rgb(199, 227, 240);
    margin-top: 40px;
    margin-bottom: 10px;
}

.poseidon{
    margin-top: 60px;
    border-bottom: 1px solid rgb(199, 227, 240);
    margin-bottom: -10px;
}

.poseidon1{
    border-bottom: 1px solid rgb(199, 227, 240);
    margin-top: -30px;
    margin-bottom: 40px;
}

.poseidon2{
    border-bottom: 1px solid rgb(199, 227, 240);
    margin-top: 40px;
    margin-bottom: 32px;
}

.pph{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}



.pph3{
    padding: 0px 0px 20px 0px;
}



.hhh3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ph4{
    margin-top: -30px;
    text-align: center;
    line-height: 30px;
}

.hhh4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ph5{
    text-align: center;
    line-height: 30px;
}

.Zeus{
    text-align: center;
    padding-block-start: 20px;
}

.Hades{
    padding: 120px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    line-height: 200px;
}

.Lki{
    cursor: pointer;
    width: 160px;
    margin-right: 400px;
}

.Jpi{
    cursor: pointer;
    width: 160px;
    margin-left: 400px;

}

.copy{
    color: gray;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    line-height: 20px;
    margin-top: 10px;
}

.bnr{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.submenu-conteiner1{
    border: 2px solid #2ea3f2;
    border-radius: 5px;
    margin-left: 12px;
}

.zee{
    font-size: 15px;
    line-height: 30px;
}

.Horus{
    display: flex;
}

.ref{
    transition-duration: 2s;
    animation-duration:5s ;
    animation-iteration-count: infinite;
    color: gray;
    padding: 5px;
    animation-name: cambia ;
}

.God{
    width: 1170px;
    margin: 0 auto;
}

@keyframes cambia{

    0%{
        color: #50a2e6;
        transition: 5s;
        
    }

    1%{
        color: blueviolet;
        transition: 5s ;
    }

    50%{
        transform: scale(1) rotate(0deg) translateX()0px;
    }

    100%{
        transform: scale(0) rotate(360deg) translateX(360px);
    }

    200%{
        transform: scale(2)
    }
}

.mensaje{
    display: none;
}

.boton6{
    margin-top: 50px;
    width: 120px;
    height: 60px;
    background-color: rgb(100, 192, 228);
    color: white;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    border: none;
}

.boton6:hover {
    background-color: red;
    border: 2px solid rgb(100, 192, 228);
}

.boton6{
    margin-top: 50px;
    transition: 1s;
}

@media screen and (max-width:1239px){

    h2{
        margin-bottom: 20px;
    }

    body{
        overflow: hidden;
    }

    .mensaje{
        padding:200px 20px 20px 0px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9999999;
        background: #2ea3f2;
        background-image: url("img/anuel-pr.jpg");
        color:whitesmoke;
        font-family:"Lucida handwriting", "Snell Roundhand", "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 16px;
    }

    .mensaje-alerta{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .mensaje-p{
        text-align: center;
        line-height: 30px;
    }

    .botun{
        text-align: center;
    }
}