body{
	background-image:url(../img/imagenes/gimnasio4.jpg);
	background-size: 100%;	
	background-repeat: no-repeat;

}
.logo1{
    width: 350px;
}


.footer-social-icon{
	position: relative !important;
}
.footer-contact-area{
	margin-bottom: 0 !important;
	/*background-image: linear-gradient(yellow,black,red);*/
}

.title-h1{
	font-size: 2.5rem;	
}
.images_gym img{
	width: 25%;
}