h4{
	font-size: 15px;
} 
.mosh-more-services-area-d-sm-flex-clearfix{
	margin: auto;
	display: flex;
}

.slide-img{
	width: 60%;
}
.lema_web{
 	margin-top:140px;
}

.container{
	margin-top: 90px;
}

#imagen,#imagen2{
		width: 500px;
		height: 500px;
	}

	#single_gallery_item_gd{
		background-color:rgba(255, 0, 0, 0.5);
	}
	#gallery-hover-overlay-d-flex-align-items-center-justify-content-center{
		background-color: rgba(255, 0, 0, 0.5);
	}
	.separador-xs{
		margin-bottom: 50px;
	}

	#single-footer-widget-mb-100,h5,li{
		font-size: 20px;
	}

































	fast links