
.container{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}


.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color:grey; 
}




.menu{
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;


}
.menu__item{
	margin-left: 30px;
	

}
.menu__enlace{
	margin-left: 30px;
	text-decoration:none;
	color:orange; 



}
.menu__tim{
	text-align: center;
	color:#808080;

}
.columnas{
	display: flex;
	justify-content: space-between;
	text-align: center;


}
.valores__t{
	text-align: center;
	color:grey;


	}
.trabajos__imgagenes{
	display: flex;
	justify-content: space-between;




}
.enlace__detalle{
	display: block;
	background-color: orange;
	text-decoration:none;
	text-align: center;
	color:white;
	display: block;
	padding: 7px;

}
.footer{
	background-color: orange;
	/*display: flex;
	justify-content: space-between;
	text-align: center;*/
}
.footer > .container{
	display: flex;
	justify-content: space-between;
	background-color: orange;
	margin-top: 50px;
	color:white;



}
.footer__pie{
	width: 21%;


}
.footer__enlace{
	color:white;

}
.columna__mg{
	display: block;
}