body{
	box-sizing: border-box;
 }

.caja-1{
	display: block;
	text-align: center;
	float: left;
    margin-left: 900px;
}

.caja-link{
	display: block;
	text-align: -webkit-center;
   	float: left;
   	color: springgreen;

   
}.menu-1{
	display: block;
	text-align: center;
	margin: auto;
	width: 1200px;
	overflow: hidden;
}

.etiquetas__chicos{
	display: block;
    text-align: -webkit-center;
    float: left;
    width: 100px;
}

.caja-grandes{
	width:25%;
	float: left;
	padding-left: 250px;
}

.caja-chicas{
	width: 30%;
	float: left;
	
}

.caja-mediana{
	width: 25%;
	float: left;
}
.bloque-2{
	text-align: center;
	width: 50%;
	float:right;
}

